
<mat-progress-bar mode="indeterminate" *ngIf="progressStatus === true"></mat-progress-bar>

<mat-toolbar color="primary" toolBar>
  <mat-toolbar-row>
    <span style="color: white;font-family:'MuseoModerno', cursive;cursor: pointer;outline: none;"
    routerLink='/'
    >Wapify</span>
    <span class="example-spacer"></span>
    <button mat-button style="color: white;margin-right: 10px;"
    >PROFILE</button>

    <button mat-raised-button style="background-color: white;color: #448AFF;"
    >LOGOUT</button>
  </mat-toolbar-row>
</mat-toolbar>




