.full-height {
  height:100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000000;
  color: white;
  text-align: center;
}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
/* Font color */
input.mat-input-element {
  color: white;
}

@media (max-width:600px){
.frontquote{
  font-size:smaller;
}
}
