<app-toolbar></app-toolbar>

<div  fxLayout="row" fxLayoutAlign="center center">
  <mat-card style="margin-top: 50px;width: 400px;height: 300px;background-color: white;">

    <h3 style="text-align: center;color: black;font-family: 'Rubik', sans-serif">Welcom Back!</h3>
    <h5 style="text-align: center;color: black;font-family: 'Rubik', sans-serif">I don't care much about music. What I like is sounds.</h5>
    <h5 style="text-align: center;">🎶🎸🎻🎺🥁🎷🎼🎛️🎵</h5>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput style="color: black;" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput style="color: black;" required>
      </mat-form-field>
    </form>
    <button mat-raised-button style="width: 100%;background-color:#448AFF;" routerLink='/all'>Login</button>

  </mat-card>
</div>
