.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: #448AFF !important;
  color: #448AFF !important
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: #448AFF;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: #448AFF;
}



